@import 'partials/_variables';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100%;
}

a {
    color: $purple;
}

@import 'partials/_header';
@import 'partials/_navigation';
@import 'partials/_main';
@import 'partials/_footer';
